@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 8px solid #333;
    height: 250px;
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, auto);
    gap: 10px;


    /*align-items: normal;
    justify-items: normal;*/
    place-items: normal normal;
    
    /*align-content: normal;
    justify-content: normal;*/
    place-content: normal normal;
}

.item{
    border: 2px solid red;
    padding: 5px;
}