@charset "UTF-8";

header, header > nav{
    flex-flow: column nowrap;
    
}

header > h1{
    flex-basis: 50px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.56);
}

nav > a{
    width: 90vw;
    text-align: center;
} 

header .material-symbols-outlined{
    display: ;
}

.material-symbols-outlined{
    background-color: #b26200;
    padding: 4px;
    border-radius: 3px;
}

.material-symbols-outlined:hover{
    background-color: black;
    color: white;
    transition: background-color, .5s;
}